<div class="main top-main">
  <div class="top-message">
    <h2>Good Vibes Only!</h2>
    <p>良い感じをシェアしよう！</p>
  </div>
  <div class="btn-wrapper">
    <a href="#" class="btn twitter"><span class="fa fa-twitter"></span>Twitterで登録</a>
    <%= link_to "Sign in now!", '/login', class: "btn btn-lg btn-primary" %>
  </div>
</div>
