<title>Home | Ruby on Rails Tutorial Sample App</title>
<div class="main top-main">
  <div class="top-message">
    <title>Home | Ruby on Rails Tutorial Sample App</title>
    <h2>つぶやきで、世界はつながる</h2>
    <p>今の気持ちをつぶやいてみよう！</p>
  </div>
</div>
