<header>
<div class="header-logo">
  <%= link_to "VibesApp",  root_path %>
</div>
<ul class="header-menus">
  <li>
    <%= link_to "Home", root_path %>
  </li>
  <li>
    <%= link_to "Help",  help_path %>
  </li>
  <li>
    <%= link_to "Sign in", "#" %>
  </li>
</ul>
</header>
